
    body {
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    background-color:#ffffff;
    overflow-x: hidden;
    margin-top: px;
    }

    /*HEADER......................................................*/
    .header {
    background-color:#ffeec6;
    display: flex;
    align-items: center;
    width: 100vw;
    padding: 10px;
    text-align: center;
    height: 75px;
    position: fixed;
    z-index: 3;
    }
    .logo img {
    margin-left:-55px; 
    width: 50%;
    height:100%;
    }
    .headerbutton{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
    }
    .button {
    color: #7b5b47;
    margin: 5% 15px; 
    margin-bottom: 10px; 
    font-family: "Anton", sans-serif;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 19px;
    transition: background-color 0.3s ease;
    }
    .button:active {
    background-color: #ffffff02;
    }
    .button:first-child {
    margin-left: 95%; 
    }
    #quienessomos .button-text {
    font-family: "Anton", sans-serif;
    font-size: 18px;
    white-space: nowrap;
    }
    .buttonUser {
        width: 30%;
        margin-right: 10%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 15px;
        font-family: "Anton", sans-serif;
    }
    
    .buttonLogin {
        font-weight: 800;
        font-family: "Anton", sans-serif;
        color: #ffeec6;
        border: 2px transparent solid;
        background-color: #7b5b47;
        width: 60%;
        border-radius: 20px;
        margin-right: 25px;
        margin-left: -25px;
        padding: 15px;
        text-align: center;
        transition: background-color 0.3s; /* Agregamos una transición suave */
    }
    
    .buttonLogin:hover,
    .buttonLogin:active {
        background-color: #ffffff; /* Cambiamos el color de fondo al pasar el mouse o al hacer clic */
    }
    

    .cart-icon {
    margin-right: -10px; 
    }
    .cart-icon img {
    width: 45px; 
    height: auto;
    }
    /*........................................*/
    /*Contenido.....................................................*/
    .container {
    margin: 0%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px;
    padding: 0px;
    }

    /*GRID 1.....................................................*/
    .grid-itemBlanco {
    background-color: #f5f1e8;
    padding: 10px;
    text-align: center;
    width: 100vw;
    height: 120vh;
    margin: 0%;
    }
    .textContainer {
    position: relative;
    margin-top: -180px; 
    z-index: 2; 
    }
    .text1
    {
    font-family: "Anton", sans-serif;
    margin-top: 670px;
    text-align: center;
    margin-left: 2%;
    color:#7b5b47;
    font-size: 55px;
    font-weight: bold;
    }
    .text6
    {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 27px;
    align-items: center;
    margin-top: -20%;
    margin-left: 45%;
    color:  #070707;
    text-align: center;
    }
    .imgPromo{
    width: 350px;
    margin-left: -35%;
    }
    .imgDeco {
    position: absolute;
    margin-top: -18%; 
    left: -10px; 
    width: 250px;
    }

    .imgDeco1 {
    position: absolute;
    top: -23px; 
    right: -10px; 
    width: 250px;
    z-index: 1;
    }
    .square1 {
    background-color:#7b5b47;
    width: 15%;
    height: 7%;
    display: flex;
    justify-content: space-between;
    border-radius: 45px;
    position: relative;
    margin-top: 2%;
    margin-left: 65%;
    z-index: 1;
    }
    h2{
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    margin-left: 25px;
    color: #f4f1e8;
    font-family: "Anton", sans-serif;
    justify-content: center;
    display: flex;
    }
    .square3 {
    background-color:#9b4237;
    width:101.3vw;
    height: 5%;
    margin-top:-26%;
    margin-left: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
    }
    h1{
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    margin-left: 5px;
    color: #f4f1e8;
    font-family: "Anton", sans-serif;
    justify-content: space-between;
    display: flex;
    }
    /*CARRUSEL*/
    @keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
    }
    .slide-inner {
    position: absolute;
    overflow: hidden;
    width: 101vw;
    margin-left:-10px;
    height: calc(400px + 3em);
    margin-top: -105%; 
    }

    .slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
    }
    .slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    }
    .slide-item img {
    display: block;
    height: auto;
    max-width: 100%;
    }
    .slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 65%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
    }
    .slide-control.prev {
    left: 5%;
    }
    .slide-control.next {
    right: 5%;
    }
    .slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
    }
    #slide-1:checked ~ .control-1,
    #slide-2:checked ~ .control-2,
    #slide-3:checked ~ .control-3 {
    display: block;
    }
    .slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    }
    .slide-indicador li {
    display: inline-block;
    margin: 0 5px;
    }
    .slide-circulo {
    color: #8282823e;
    cursor: pointer;
    display: block;
    font-size: 35px;
    }
    .slide-circulo:hover {
    color: #aaaaaa30;
    }
    #slide-1:checked ~ .control-1 ~ .slide-indicador 
        li:nth-child(1) .slide-circulo,
    #slide-2:checked ~ .control-2 ~ .slide-indicador 
        li:nth-child(2) .slide-circulo,
    #slide-3:checked ~ .control-3 ~ .slide-indicador 
        li:nth-child(3) .slide-circulo {
    color: #f2f2f21e;
    }
    #titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
            -1px 0px 2px rgba(255, 255, 255, 0);
    }
    .slide-item img {
    display: block;
    height: 200%; 
    width: 100%; 
    max-width: 100%;
    }
    /*GRID 2.....................................................*/
    .grid-itemGris { 
    background-color: #f5f1e8;
    padding: 10px;
    text-align: center;
    width: 100vw;
    height: 120vh;
    margin: 0%;
    }
    h3 {
    font-family: "Anton", sans-serif;
    margin-top: -250%; 
    text-align: center;
    color: #7b5b47;
    font-size: 55px;
    margin-left: 290%; 
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    }
    .imgDec{
    position: absolute;
    top: 129%; 
    right: -11px; 
    width: 250px;
    z-index: 1; 
    }
    .imgDec1{
    position: absolute;
    top: 211.5%; 
    left:-4px; 
    width: 250px;
    z-index: 1; 
    }
    .cubos-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 15%;
    margin-left: -65%;
    text-decoration: none;
    }
    .cubosrojosder {
    background-color:#d07c4c;
    height: 200px;
    width: 350px;
    display: flex;
    border-radius: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    }
    .cubosrojosder a {
    text-decoration: none;
    }
    .cubosrojosder:hover {
    background-color: #e8afa0;
    }
    .cubosrojosder:active {
    background-color:#7b5b47; 
    }
    .text-container {
    position: relative;
    transform: translateY(-50%);
    text-align: center; 
    z-index: 2; 
    margin-top:10%; 
    }

    .p-style {
    font-size: 30px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold; 
    color: #f4f1e7; 
    }

    .cubos-container1 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 15px;
    }

    .cubosrojosder1 {
    background-color: #c15757;
    height: 200px;
    width: 350px;
    display: flex;
    border-radius: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    }
    .cubosrojosder1 a {
    text-decoration: none;
    }
    .cubosrojosder1:hover {
    background-color: #e8afa0;
    }
    .cubosrojosder1:active {
    background-color:#7b5b47; 
    }
    .text-container1 {
    position: relative;
    top:280%; 
    transform: translateY(-50%);
    text-align: center; 
    z-index: 1; 
    top:15%; 
    }
    .p-style1 {
    font-size: 30px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold; 
    color: #f4f1e7; 
    }
    /*.............................................*/
    .cubos-container2 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: -16.5%;
    margin-left: 38%;
    }
    .cubosrojosder2 {
    background-color: #e3b85a;
    height: 200px;
    width: 350px;
    display: flex;
    border-radius: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    transition: background-color 0.3s ease;
    }
    .cubosrojosder2 a {
    text-decoration: none;
    }
    .cubosrojosder2:hover {
    background-color: #e8afa0;
    }
    .cubosrojosder2:active {
    background-color:#7b5b47; 
    }   
    .text-container2 {
    position: relative;
    transform: translateY(-50%);
    text-align: center; 
    z-index: 2; 
    margin-top:10%; 
    }

    .p-style2 {
    font-size: 30px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold; 
    color: #f4f1e7; 
    }

    .cubos-container3 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 15px;
    }

    .cubosrojosder3 {
    background-color: #7b5942;
    height: 200px;
    width: 350px;
    display: flex;
    border-radius: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    transition: background-color 0.3s ease;
    }
    .cubosrojosder3 a {
    text-decoration: none;
    }
    .cubosrojosder3:hover {
    background-color: #e8afa0;
    }
    .cubosrojosder3:active {
    background-color:#7b5b47; 
    }   
    .text-container3 {
    position: relative;
    top:280%; 
    transform: translateY(-50%);
    text-align: center; 
    z-index: 1; 
    top:15%; 
    }
    .p-style3 {
    font-size: 30px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold; 
    color: #f4f1e7; 
    }
    /*.............................................*/
    .cubos-container4 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: -16%;
    margin-left: 75%;
    }
    .cubosrojosder4 {
    background-color:#db8898;
    height: 200px;
    width: 350px;
    display: flex;
    border-radius: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    transition: background-color 0.3s ease;
    }
    .cubosrojosder4 a {
    text-decoration: none;
    }
    .cubosrojosder4:hover {
    background-color: #e8afa0;
    }
    .cubosrojosder4:active {
    background-color:#7b5b47; 
    }   
    .text-container4 {
    position: relative;
    transform: translateY(-50%);
    text-align: center; 
    z-index: 2; 
    margin-top:10%; 
    }

    .p-style4 {
    font-size: 30px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold; 
    color: #f4f1e7; 
    }

    .cubos-container5 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 15px;
    }

    .cubosrojosder5 {
    background-color: #cd8875;
    height: 200px;
    width: 350px;
    display: flex;
    border-radius: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    transition: background-color 0.3s ease;
    }
    .cubosrojosder5 a {
    text-decoration: none;
    }
    .cubosrojosder5:hover {
    background-color: #e8afa0;
    }
    .cubosrojosder5:active {
    background-color:#7b5b47; 
    }   
    .text-container5 {
    position: relative;
    top:280%; 
    transform: translateY(-50%);
    text-align: center; 
    z-index: 1; 
    top:10%; 
    }
    .p-style5 {
    font-size: 30px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold; 
    color: #f4f1e7; 
    }


    /*FOOTER.....................................................*/
    footer {
    width: 100vw;
    min-height: 200px; 
    background-color: #292929;
    padding: 10px;
    text-align: center;
    margin: 0%;
    position: relative; 
    }
    .white1 {
    margin-left: -50%;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    }
    .textologo1 {
    margin-top:5%;
    margin-left: -69%;
    display: inline-flex;
    align-items: center; 
    }

    .text12, .p2 {
    position: absolute; 
    bottom: 10%; 
    margin-top: 20px; 
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin-left: 10%;
    text-align: left;
    color: #878484;
    font-weight: lighter;
    }
    .text13, .p2 {
    position: absolute; 
    bottom: 10%; 
    margin-top: 20px; 
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin-left: 55%;
    text-align: left;
    color: #878484;
    font-weight: lighter;
    }

    .headerbutton1{
    width: 80%;
    margin-left: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;

    }
    .button1{
    margin-top: -55%;
    color: #ffffff;
    margin-left:4%;
    font-weight: 300px;
    font-family: Helvetica, Arial, sans-serif;
    }
    b3{
    margin-left:2%;
    font-weight:bold;
    }
    .text24,.text25{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin-left: 5%;
    text-align: left;
    color: #ffffffaa;
    font-weight: lighter;
    }